.Service_box {
    width: 100%;
    height: auto;
    background: rgba(232, 254, 116, 1);
    padding: 90px 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 42px;
    @media  (max-width: 1236px) {
       
            padding: 50px 10px;
        
    }
    .Info_box {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        h1 {
            color: rgba(6, 5, 15, 0.4);
            font-size: 50px;
            font-weight: 400;
            @media (max-width:566px) {
                font-size: 35px;
            }
        }
        span {
            color: rgba(6, 5, 15, 1);
            font-size: 20px;
        }
    }
    .Swipper {
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (hover:none) {
            overflow-x: scroll;
            justify-content: flex-start;
        }
        .Wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        transform: translateX(271px);
        transition: transform 0.1s ease-out;
        cursor: pointer;
        padding: 20px 0;
            &>div {
                width: 385px;
                border-radius: 60px;
                height: 460px;
                padding: 56px 21px;
@media (max-width:904px) {
    width: 300px;
    height: 400px;
}
                h1 {
                    color: white;
                    font-size: 26px;
                    font-weight: 700;
                }
                p {
                    margin-top: 40px;
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                }

            }
            &>div:first-child {
                background: linear-gradient(180deg, #C4C4C4 0%, #B9D235 100%);

            }
            &>div:nth-child(2) {
                background: linear-gradient(133.02deg, #CDA5D5 16.48%, #FBE4FF 44.04%, #E8FE74 87.63%);

            }
            &>div:nth-child(3) {
                background: linear-gradient(318.14deg, #989898 9.16%, #5E5E5E 64.25%);

            }
            &>div:nth-child(4) {
                background: linear-gradient(144.99deg, #CCDE67 0%, #505057 100%);

            }
            &>div:last-child {
                background: linear-gradient(144.99deg, #CDBFD6 0%, #732EA7 100%);

            }
        }
    }
   

}