@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&display=swap");
.Service_box {
  width: 100%;

  height: auto;
  background: #fffff1;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;

  & > div {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 120px 180px 0px;
    @media (max-width: 1440px) {
      padding: 135px 90px 0px;
      gap: 45px;
    }
    @media (max-width: 1280px) {
      padding: 97px 45px 0px;
      gap: 26px;
    }
    @media (max-width: 768px) {
      padding: 120px 30px 0px;
      gap: 33px;
    }
    @media (max-width: 512px) {
      padding: 113px 10px 0px;
      gap: 33px;
    }
    @media (max-width: 320px) {
      padding: 120px 10px 0px;
      gap: 33px;
    }
    .Info_box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        color: #0c2200;
        font-size: 36px;
        font-weight: 400;
        font-family: Tektur;
        @media (max-width: 512px) {
          font-size: 32px;
        }
      }
      h2 {
        font-family: Tektur;
        color: #0c220033;
        font-size: 32px;
        font-weight: 400;
        @media (max-width: 512px) {
          font-size: 28px;
        }
      }
    }
    .Info {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 20px;
      }
   .paragraphs {
    display: flex;
    gap: 20px;
    @media (max-width:848px) {
      flex-direction: column;
    }
   }
        .Title {
          color: #0c2200;
          font-family: Tektur;
          font-size: 24px;
        }
      
      .FirstParagraph {
        // max-width: 930px;
        width: 100%;
      }
      p {
        color: #0c2200;
        font-size: 18px;
        font-family: Open Sans;
        
        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
    .Types {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & > div {
        color: #fc739f80;
        font-weight: 400;
        font-size: 18px;
        font-family: Tektur;
        white-space: nowrap;
        display: flex;
        cursor: pointer;
        &:hover {
          color: #de5581;
        }
        &:active {
          color: #ca416d;
        }
      }
      .Active {
        color: #fc739f;
        cursor: pointer;
        &:hover {
          color: #de5581;
        }
        &:active {
          color: #ca416d;
        }
        &::after {
          content: url("../../../../public/plus.svg");
          margin-left: 10px;
        }
      }
    }
    .About {
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 230px;
      @media (max-width: 1440px) {
        gap: 132px;
      }
      @media (max-width: 1280px) {
        gap: 108px;
      }
      @media (max-width: 1024px) {
        gap: 42px;
      }
      @media (max-width: 1202px) {
        &:has(.Process) {
          flex-direction: column;
        }
      }
      @media (max-width: 846px) {
        &:has(.Princip) {
          flex-direction: column;
        }
      }
      @media (max-width: 840px) {
        &:has(.Vajno) {
          flex-direction: column;
        }
      }
      @media (max-width: 872px) {
        &:has(.Steps) {
          flex-direction: column;
        }
      }
      @media (max-width: 928px) {
        &:has(.Managment) {
          flex-direction: column;
        }
      }

      .Right_box {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        p {
          max-width: 1033px;
          color: #0c2200;
          font-size: 16px;
          font-weight: 400;
        }
        h1 {
          color: #0c2200;
          font-size: 18px;
          font-weight: 400;
        }
        .dizayn_h1 {
          font-size: 20px !important;
          @media (max-width:768px ) {
            font-size: 18px !important;
          }
          @media (max-width:480px) {
            font-size: 16px !important;
          }
        }
        h2 {
          color: #0c2200;
          font-family: Tektur;
          font-size: 18px;
          font-weight: 400;
        }
        .dizayn {
          font-size: 18px;
        }
        h3 {
          color: #0c2200;
          font-weight: 400;
          font-size: 24px;
          font-family: Tektur;
          @media (max-width: 360px) {
            font-size: 20px;
          }
        }
        .Predlagat {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          & > div:last-child {
            display: flex;
            flex-wrap: wrap;
            max-width: 1033px;
            gap: 20px;
            & > div {
              border: 1px solid #0c220033;
              border-radius: 50px;
              padding: 10px 20px;
              color: #0c2200;
              font-size: 16px;
              font-weight: 400;
              overflow: hidden;
              text-overflow: ellipsis;
              @media (max-width: 1202px) {
                width: 100%;
                white-space: nowrap;
              }
              @media (max-width: 1024px) {
                padding: 11px 10px;
              }
            }
          }
        }
        .Process {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > div:last-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 1033px;
            gap: 20px;
            @media (max-width: 768px) {
              grid-template-columns: repeat(1, 1fr);
            }
            & > div {
              border: 1px solid #0c220033;
              border-radius: 50px;
              padding: 10px 20px;
              color: #0c2200;
              font-size: 16px;
              font-weight: 400;
              display: flex;
              align-items: center;
              overflow: hidden;
              text-overflow: ellipsis;
              @media (max-width: 1024px) {
                padding: 11px 10px;
              }
              & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                transform: translateX(90px);
                @media (max-width: 1864px) {
                  transform: translateX(40px);
                }
                @media (max-width: 1766px) {
                  transform: translateX(0);
                }
                gap: 20px;
                @media (max-width: 424px) {
                  gap: 10px;
                }
                span {
                  color: #0c220033;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: Schibsted Grotesk, Open Sans;
                }
                & > div:last-child {
                  @media (max-width: 424px) {
                    font-size: 14px;
                  }
                }
                div {
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .Princip {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > div:last-child {
            display: flex;
            flex-direction: column;

            gap: 20px;

            & > div {
              border: 1px solid #0c220033;
              border-radius: 50px;
              padding: 10px 20px;
              color: #0c2200;
              font-size: 16px;
              font-weight: 400;
              display: inline-flex;
              align-items: center;

              @media (max-width: 1024px) {
                padding: 11px 10px;
              }
              @media (max-width: 954px) {
                border-radius: 20px;
              }
              & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                gap: 20px;
                @media (max-width: 954px) {
                  flex-direction: column;
                  gap: 10px;
                  align-items: start;
                }
                span {
                  color: #0c220033;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: Schibsted Grotesk, Open Sans;
                }
              }
            }
          }
        }
        .Vajno {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > div:last-child {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            &>div:first-child {
                width: 50%;
                @media (max-width: 1855px) {
                    width: 100%;
                  }
            }
            &>div:nth-child(2) {
                width: 48%;
                @media (max-width: 1855px) {
                    width: 100%;
                  }
            }
            
            &>div:last-child {
                width:100%;
            }
            & > div {
              @media (max-width: 1855px) {
                width: 100%;
              }
              border: 1px solid #0c220033;
              border-radius: 50px;
              padding: 10px 40px;
              color: #0c2200;
              font-size: 16px;
              font-weight: 400;
              display: inline-flex;
              align-items: center;
              gap: 20px;

              @media (max-width: 954px) {
                border-radius: 20px;
              }
              & > div {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                gap: 20px;
                @media (max-width: 954px) {
                  flex-direction: column;
                  gap: 10px;
                  align-items: start;
                }
                span {
                  color: #0c220033;
                  font-weight: 500;
                  font-size: 16px;
                  font-family: Schibsted Grotesk, Open Sans;
                }
              }
            }
          }
        }
        .Steps {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > div {
            display: flex;
            gap: 10px;
            align-items: start;
            & > div {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
            h1 {
              font-weight: 600;
              font-size: 24px;
              color: #0c2200;
              @media (max-width: 768px) {
                font-size: 20px;
              }
              @media (max-width: 480px) {
                font-size: 16px;
              }
            }
            span {
              color: #0c220033;
              font-weight: 600;
              font-size: 20px;
        
              @media (max-width: 768px) {
                font-size: 18px;
              }
              @media (max-width: 480px) {
                font-size: 16px;
              }
            }
            p {
              color: #0c2200;

              font-size: 16px;
              &::before {
                content: url("../../../../public/arrow.svg");
                margin-right: 10px;
              }
            }
          }
        }
        .Managment {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & > div {
            display: flex;
            gap: 10px;
            span {
              color: #0c220033;
              font-size: 20px;
              @media (max-width: 768px) {
                font-size: 16px;
              }
            }
            p {
              color: #0c2200;
              font-size: 20px;
              @media (max-width: 768px) {
                font-size: 16px;
              }
            }
          }
        }
        .Btn {
          a {
            text-decoration: none;
            color: #fc739f;
            font-family: Tektur;
            font-weight: 400;
            font-size: 24px;
            cursor: pointer;
            @media (max-width: 1024px) {
              font-size: 20px;
            }
            @media (max-width: 512px) {
              font-size: 22px;
            }
            &:hover {
              color: #de5581;
            }
            &:active {
              color: #ca416d;
            }
          }
        }
      }
    }
  }
}
