@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&display=swap');
header {
    // max-width: 1920px;
    margin: auto;
    background-color: #E8FE74;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
 gap: 124px;
    padding: 36.5px 180px;
  position: relative;

@media (max-width:1440px) {
    padding: 21.5px 90px;
}
@media (max-width:1280px) {
    padding: 21.5px 45px;
}
@media (max-width:512px) {
    padding: 30px 10px;
}
a {
    text-decoration: none;
    cursor: pointer;


}
    .Logo_box {
        h1 {
            color: #162C00  ;
            font-weight: 400;
            font-size: 36px;
            letter-spacing: 2px;
            transition: .4s;
            font-family: Tektur;
            cursor: pointer;
          @media (max-width:1024px) {
            font-size: 24px;
          }
          @media (max-width:320px) {
            font-size: 18px;
          }
          
        }
    }
    .to_be_client {
       display: none;
        position: absolute;
        right: 40px;
        @media (max-width:1532px){
           display:flex;
           gap: 40px;
           margin-right: 40px;
        }
        @media (max-width:558px){
            display: none;
        }
        transform: translateX(-40px);
        
            .Client{
                color: #162C00;
                font-weight: 400;
                font-size: 18px !important;
            
            }   
            .Service,.Case{
                color: #162C00;
                font-weight: 400;
                font-size: 16px !important;
                @media (max-width:779px) {
                    display: none;
                }
            }  
    
}
    .Menu_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:26.349px;
      position: relative;
        transition: .4s;
        .Btn_close {
            position: absolute;
            right: 46px;
            top: 36px;
            display: none;
            @media (max-width:1532px) {
                display: block;
            }
        }
        @media (max-width:1532px) {
            position: fixed;
            background-color: #E8FE74;
         justify-content: flex-start;
         align-items: start;
            flex-direction: column;
            width: 100%;
          top: 0;
        left: 0;
            padding: 50px 45px 136px;
            z-index: 9999;
            @media (max-width:768px) {
                padding: 100px 30px 292px;  
            }
            @media (max-width:480px) {
                padding: 30px 10px 46px;  
            }
            @media (max-width:368px) {
                padding: 20px 10px 22px;  
            }
        }
     
           &>div:nth-child(3) {
            @media (max-width:1532px) {
                display: none;
            }
            @media (max-width:480px) {
                display: block;
                order: 9;
            }
        }
        &>div:nth-child(4) {
            @media (max-width:1532px) {
                display: none;
            }
            @media (max-width:480px) {
                display: block;
                order: 2;
            }
        }
        &>div:first-child  {
            @media (max-width:1532px) {
                order: 1;
            }
            @media (max-width:480px) {
                order: 5;
            }
   
        }
        &>div:nth-child(2)  {
            @media (max-width:1532px) {
                order: 1;
 
            }
              }
        &>div:nth-child(3)  {
            @media (max-width:1532px) {
                order: 1;
 
            }
              }
             &>div:nth-child(5) {
                @media (max-width:1532px) {
                    order: 4;
                }
             }
              &>div:nth-child(6)  {
                @media (max-width:1532px) {
                    order: 6;
                }
                @media (max-width:368px) {
                    position: absolute;
                    right:10px ;
                    bottom: 22px;
                    
                }
                  }
        &>div:first-child  {
            color: #021800;
            font-size: 32px;
            font-weight: 400;
            @media (max-width:1789px) {
                font-size: 20px;
            }
            @media (max-width:1532px) {
               font-size: 42px;
            }
            @media (max-width:480px) {
                font-size: 38px;
            }
            @media (max-width:460px) {
                font-size: 24px;
            }
          
        }
        &>div  {
           h2 {
          font-weight: 600 !important;
          font-size: 36px;
           }
        }
        &>div:hover {
            span {
                opacity: 1;
            }
            h2 {
                opacity: 0;
            }
        }
        &>div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
          cursor: pointer;
          transition:color .4s;
          @media (max-width:1532px) {
            flex-direction: row;
            gap: 10px;
         
            border-radius: 8px;
     
       padding: 10px 20px;
       justify-content: flex-start;
       transition: .4s;
       border: 1px solid transparent;
     @media (max-width:1532px) {
        padding: 0 20px;
     }
     @media (max-width:368px) {
        padding: 0 ;
     }
     
     svg  {
        transition: .4s;
       fill: cadetblue;
     }
    
  

          }
 
            h1 {
                color: #162C00;
                font-weight: 400;
                font-size: 8px;
              
                @media (max-width:1612px) {
                    font-size: 24px;
                }
                @media (max-width:1502px) {
                    font-size: 20px;
                }
              
            }
            h2 {
                color: #162C00;
                font-weight: 400;
                font-size: 24px;
             
                @media (max-width:1789px) {
                    font-size: 18px;
                }
             @media (max-width:1532px) {
                font-size: 36px;
             }
             @media (max-width:480px) {
                font-size: 32px;
             }
             @media (max-width:460px) {
                font-size: 24px;
             }
          
             transition: .2s;

            }
            span {
                opacity: 0;
                transition: .2s;
position: absolute;
color: #162C00;
font-weight: 400;
font-size: 24px;
white-space: nowrap;
@media (max-width:1789px) {
    font-size: 18px;
    font-weight: 600;
}
@media (max-width:1532px) {
font-size: 36px;
font-weight: 600;
}

            }
        }
        .Active {
            h2 {
                color: white;
            }
       
            text-shadow: 0 0 10px  rgba(255, 255, 255, 0.438);
        }
       
    }
    .Menu_active {
        @media (max-width:1532px) {
        width: 100%;    
        background-color: #E8FE74;
        transform: translateX(0%);
    
        }
    }
    .Menu_disable {
        @media (max-width:1532px) {
        background-color: #E8FE74;
        width: 100%;
       top: 0;
       left: 0;
       position: fixed;
       transform: translateX(-100%);

    }}
    .Btn {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 25px;
        cursor: pointer;
       visibility: hidden;
       display: none;
       z-index: 999999;
       @media (max-width:1532px) {
       display: flex;
       visibility: visible;
    }
    }
    .Btn_active {
        position: fixed;
        right: 30px;
        top:60px;
        animation: fadeIn .4s ease-in-out forwards;
        z-index: 9999999;
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    }
}
.HeaderActive {

    z-index: 1000;
    top: 0;
    @media (max-width:1532px) {
        position: sticky;
        top: 0;
    }
    @media (min-width:1532px) {
    animation: animHeader .6s  ease-in-out forwards;
    @keyframes animHeader {
        from {
            transform: translateY(-100px);
    
        }
        to {
            transform: translateY(0);
            position: sticky;
       
        }}
    }

}

@keyframes shakeMenu {
    0% {
       
        transform: translateY(20px);
    }
    50% {
      
        transform: translateY(-20px);
    }
    100% {
       
        transform: translateY(0);
    }
}
@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.bg {
    @media (max-width:1532px) {
    width: 100%;
    height: 300vh;
    position: fixed;
    background-color: #162C0066; }
}