@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
.Banner {
    width: 100%;
    background-color: #E8FE74;
}
.Banner_container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: #E8FE74;
padding:100px 180px 50px;
gap: 50px;
@media (max-height:951px) {
    padding:10px 180px 50px;

}

@media (max-width:1440px) {
    min-height: calc(100vh - 90px);
    padding: 67px 90px 50px;
    gap: 45px;
}
@media (max-width:1280px) {
    padding: 92px 45px 30px;
    gap: 26px;
}
@media (max-width:1024px) {
    padding: 52px 45px 30px;
    gap: 33px;
    min-height: calc(100vh - 74px);
}
@media (max-width:768px) {
    padding: 436px 30px 50px;
    gap: 259px;
}
@media (max-width:512px) {
    padding: 57px 10px 50px;
    gap: 40px;
}
@media (max-width:320px) {
    padding: 8px 10px 20px;
    gap: 12px;
}
    .Info_box {
        max-width: 1300px;
        color: #162C00;
        font-weight: 600;
        font-size: 72px;
        font-family:Tektur ;
        @media (max-width:1024px) {
            font-size: 64px;
        }
        @media (max-width:512px) {
            font-size: 48px;
        }     @media (max-width:379px) {
            font-size: 24px;
            font-weight: 400;
        }
        @media (max-height:951px) {
            font-size: 50px;
            max-width: 900px;
            margin-top: 10vh;
        }
    }
    .Mini_boxes_box {
   
        display: flex;
        align-items: center;
        max-width: 732px;
        @media (max-width:1440px) {
            max-width: 1020px;
        }
        @media (max-width:1280px) {
            max-width: 1190px;
        }
        @media (max-width:1024px) {
            max-width: 934px;
        }
        @media (max-width:768px) {
            max-width: 708px;
        }
        @media (max-width:480px) {
            max-width: 460px;
        }
        @media (max-width:320px) {
            max-width: 300px;
        }
     flex-wrap: wrap;
        gap: 10px;
        @media (max-width:320px) {
            gap: 5px;
        }
        .it {
            font-family: Tektur;
            font-weight: 400;
            font-size: 72px;
            @media (max-width:1024px) {
                font-size: 32px;
                font-weight: 600;
            }
            @media (max-width:512px) {
                font-size: 30px;
            }
            @media (max-width:437px) {
                font-size: 25px;
            }
            @media (max-width:400px) {
                font-size: 24px !important;
            }
            @media (max-height:951px) {
                font-size: 45px;
            }

        }
        .back {
            font-size: 48px;
            font-weight: 400;
        
            @media (max-width:1024px) {
                font-size: 32px;
                
            }
            @media (max-width:512px) {
                font-size: 28px;
            }
            @media (max-width:400px) {
                font-size: 18px;
              
            }
            @media (max-height:951px) {
                font-size: 32px;
            }
        }
        .mob {
            font-size: 28px;
            font-weight: 400;
            @media (max-width:1024px) {
                font-size: 24px;
            }
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-height:951px) {
                font-size: 24px;
            }
        
        }
        .ii {
            font-size: 18px;
            font-weight: 400;
            @media (max-width:1024px) {
                font-size: 16px;
            }
            @media (max-width:512px) {
                font-size: 14px;
            }
            @media (max-height:951px) {
                font-size: 16px;
            }
        }
        .dev {
            font-size: 48px;
            font-weight: 400;
            @media (max-width:1024px) {
                font-size: 32px;
            }
            @media (max-width:512px) {
                font-size: 28px;
            }
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-height:951px) {
                font-size: 32px;
            }
        }
        .des {
            font-size: 48px;
            font-weight: 400; 
            @media (max-width:1024px) {
                font-size: 30px;
            }
            @media (max-width:512px) {
                font-size: 28px;
            }
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-height:951px) {
                font-size: 30px;
            }
        }
        .chat {
            font-size: 28px;
            font-weight: 400;
            @media (max-width:1024px) {
                font-size: 24px;
            }
        }
        .front {
            font-size: 48px;
            font-weight: 400; 
            @media (max-width:1024px) {
                font-size: 32px;
            }
            @media (max-width:512px) {
                font-size: 28px;
            }
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-height:951px) {
                font-size: 32px;
            }
        }
        .anal {
            font-size: 20px;
            font-weight: 400;
         
            @media (max-width:1024px) {
                font-size: 16px;
            }
            @media (max-height:951px) {
                font-size: 16px;
            }
        }
        .man {
            font-size: 36px;
            font-weight: 400;
            @media (max-width:512px) {
                font-size: 26px;
            }
            @media (max-width:400px) {
                font-size: 18px;
            }
            @media (max-height:951px) {
                font-size: 26px;
            }
        }
        &>div {
            border-radius: 100px;
            border: 1px solid #162C00;
            padding:10px 20px;
            color: #162C00;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            display: flex;
            align-items: center;
            
            @media (max-width:480px) {
                padding: 13px 20px;
            }
          
      
        }
    }
}