.case {
    width: 100%;
    background-color:#ffffff ;
}
.Case_Banner_Container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: auto;
  background-color: #ffffff;
  padding: 69px 180px 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;

  @media (max-width: 1440px) {
    gap: 50px;
    padding: 62px 90px 50px;
   
  }
  @media (max-width: 1280px) {
    gap: 31px;
    padding: 19px 45px 50px;
  }
  @media (max-width: 1024px) {
    gap: 24px;
    padding: 25px 45px 50px;
  }
  // @media (max-width: 768px) {
  //   gap: 392px;
  //   padding: 394px 30px 50px;

  // }
  @media (max-width: 480px) {
    gap: 218px;
    padding: 207px 10px 50px;
  }
  @media (max-width: 320px) {
    gap: 120px;
    padding: 110px 10px 50px;
  }
  @media (max-height:950px) {
    padding: 110px 180px 50px;
    gap: 0;
  }
  @media (max-height:700px) {
    padding: 11px 10px 50px;
    gap: 0;
  }
  .Img {
    max-width: 704px;
    width: 100%;
  aspect-ratio: 1/.5629;
 

  @media (max-width:1024px) {
    max-width: 614px;
  }
  @media (max-width:768px) {
    max-width:708px;
  }
  @media (max-width:480px) {
    max-width:460px;
  }
  @media (max-width:320px) {
    max-width:300px;
  }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
  .Title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    @media (max-height:1000px) {
        margin-top: 10vh;
    }
    div {
        font-weight: 600;
        color: #162C00;
        font-family: Tektur;
        font-size: 64px;
        @media (max-width:1024px) {
            font-size: 46px;
        }
        @media (max-width:480px) {
            font-size: 32px;
        }
    }
  }
}
.Case_Info_Container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    background-color: #FFFFF1;
    padding: 117px 180px 62px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    @media (max-width:1440px) {
        padding: 120px 90px 55px;
    }
    @media (max-width:1280px) {
        padding: 120px 45px 50px;
    }
    @media (max-width:1024px) {
        padding: 120px 45px 52px;
    }
    @media (max-width:768px) {
        padding: 75px 30px 47px;
    }
    @media (max-width:480px) {
        padding: 75px 10px 55px;
    }
    @media (max-width:320px) {
        padding: 75px 10px 59px;
    }
    .Info_box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 770px;
        @media (max-width:1440px) {
            max-width: 833px;
        }
        @media (max-width:1280px) {
            max-width: 787px;
        }
        @media (max-width:1024px) {
            max-width: 616px;
        }
        @media (max-width:768px) {
            max-width: 587px;
        }
        @media (max-width:480px) {
            max-width: 100%;
        }
        h1 {
            color: #0C2200;
            font-family: Tektur;
            font-size: 36px;
            font-weight: 400;
            @media (max-width:480px) {
                font-size: 32px;
            }
        }
        p {
            color: #0C2200;
            font-weight: 400;
            font-size: 18px;
            @media (max-width:1024px) {
                font-size:16px;
            }
          
        }
    }
    .image-slider {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .img {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
     
        img {
            width: 100%;
            aspect-ratio: 1.5;
            object-fit: contain;
        }
        .btn {
            position: absolute;
            top: 50%;
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 60px;
            transform: translateY(-50%);
            @media (max-width:1024px) {
                padding: 0 30px;
            }
            @media (max-width:768px) {
                padding: 0 20px;
            }
            @media (max-width:320px) {
                padding: 0 10px;
            }
            &>div {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    @media (max-width:1024px) {
                        width: 30px;
                    }
                    @media (max-width:768px) {
                        width: 20px;
                    }
                    @media (max-width:480px) {
                        width: 15px;
                    }
                }
            }
        }
      }
      .counter {
        font-size: 24px;
        font-weight: 400;
        color: #FC739F;
        @media (max-width:320px) {
            font-size: 20px;
        }
      }
    }
}