footer {

    display: flex;
    align-items:stretch;
    justify-content: space-between;

    background-color: #E5E5D9;
    padding: 40px 180px;
    @media (max-width:1440px) {
        padding: 40px 90px 40px;
       
    }
    @media (max-width:1280px) {
        padding: 40px 45px 40px;
       
    }
    @media (max-width:768px) {
        padding: 40px 30px 40px;
      
    }
    @media (max-width:674px) {
        flex-direction: column;
    }
    @media (max-width:512px) {
        padding: 40px 10px 40px;
      
    }
    @media (max-width:320px) {
        padding: 40px 10px 40px;
       
    }
    
    &>div:last-child {
        align-items: end;
        @media (max-width:674px) {
          align-items: center;
        }
    }
    .Logo {
        a {
            color: #162C00;
            font-family: Tektur;
            font-size: 24px;
            font-weight: 400;       text-decoration: none;
        }
     
        @media (max-width:674px) {
           text-align: center;
           margin-bottom: 40px;
        }
    }
    .C {
        color: #162C00;
        font-weight: 300;
      
        font-size: 16px;
        @media (max-width:674px) {
          display: none;
         }
    
    }
    .C_Low_res {
        color: #162C00;
        font-weight: 300;
      
        font-size: 16px;
        display: none;
        @media (max-width:674px){
            display: block;
           
        }
    }
    &>div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        gap: 20px;
        ul {
            display: flex;
align-items: center;
justify-content: center;
gap: 20px;
list-style: none;
@media (max-width:674px) {
    flex-direction: column;
    gap: 30px;
}
li {
 
        text-decoration: none;
        color: #162C00;
        font-size: 18px;
        cursor: pointer;
        &:hover {
            color: #52683C;
            
        }
    
}
        }
        .Politika {
            color: #162C00;
            font-weight: 300;
            font-size: 16px;
            text-decoration: underline;
            @media (max-width:674px) {
             margin-top: 20px;
            }
        }
    }

}