@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tektur:wght@400..900&display=swap');
* {
    &::-webkit-scrollbar {
        width: 5px; /* Ширина скроллбара */
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #162C00; /* Цвет ползунка */
        border-radius: 6px; /* Скругление углов */
      }
      
      &::-webkit-scrollbar-track {
        background-color: #E8FE74; /* Цвет дорожки */
      }
      
      /* Для Firefox */
      * {
        scrollbar-width: thin; /* Тонкий скроллбар */
        scrollbar-color: #162C00; /* Цвет ползунка и дорожки */
      }
}/* App.scss */


main {
  
  margin: auto;
  background-color: #FFFFF1;
 
}
body,html {
  scroll-behavior: smooth;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
width: 100%;
  flex: 1; // Заставляет main растягиваться, заполняя всё доступное пространство
}
